body,
canvas {
	margin: 0;
	padding: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#game {
	position: absolute;
	display: block;
}

.align-abs-center {
    position: absolute !important;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-small {
    width: 100%;
    max-width: 400px;
    padding: 0 25px;
}

.form-medium {
    width: 100%;
    max-width: 600px;
    padding: 0 25px;
}

#inventory {
    position: absolute !important;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 250px;
}
 
#inventory img {
    max-width: 100%;
}